:root {
  --color-red: #d63031;
  --color-white: #ffffff;
  --color-dark-red: #b71c1c;
  --header-bg-color: #2d3436;
  --primary-bg-color: #f4f4f4;
  --primary-btn-color: #00b894;
  --primary-text-color: #111827;
  --primary-btn-hover-clr: #019875;
  --system-ui-ff: system-ui, "Segoe UI", Roboto, Helvetica, Arial, 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
    "Segoe UI Symbol";
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--system-ui-ff);
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

input, 
button {
  font: inherit;
}

button {
  border: 0;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  color: var(--color-white);
}

.btn-container .new-book-btn,
.btn-container .read-btn {
  background-color: var(--primary-btn-color);
}

.btn-container .new-book-btn:hover,
.btn-container .read-btn:hover {
  background-color: var(--primary-btn-hover-clr);
}

.container > .header {
  display: flex;
  align-items: center;
  color: var(--color-white);
  padding: calc(0.5rem + 1vw);
  justify-content: space-between;
  background-color: var(--header-bg-color);
}

.header h1 {
  gap: 8px;
  display: flex;
  align-items: center;
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
}

.header h1::before {
  content: '';
  width: 1.2em;
  height: 1.2em;
  background-image: url(../icons/library.svg);
}

.header .new-book-btn {
  padding: 10px 24px;
}

.container > .main {
  padding: calc(1rem + 0.5vw);
}

.main > .book-cards {
  display: grid;
  gap: calc(1rem + 1vw);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.book-cards > .card {
  border-radius: 8px;
  padding: calc(1rem + 1vw);
  background-color: var(--color-white);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.card h2,
.card p {
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card button {
  padding: 4px 8px;
  margin-right: 8px;
}

.card > .btn-container {
  margin-top: 8px;
}

.btn-container > .remove-btn {
  background-color: var(--color-red);
}

.btn-container > .remove-btn:hover {
  background-color: var(--color-dark-red);
}
