:root {
  --clr-primary: #282828;
  --clr-secondary: #54585d;
  --clr-accent: #623ae6;
  --clr-neutral-lt: #faf9f9;
  --clr-neutral-dk: #2b2a2a;
  --ff-base: Tahoma, Geneva, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-base);
  -webkit-font-smoothing: antialiased;
  background: #fcfbf8;
  color: var(--clr-neutral-dk);
}

button {
  font: inherit;
  cursor: pointer;
}

body>.header {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-lt);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.2rem;
}

.header>h1 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header>h1::before {
  content: url(../img/book.svg);
  width: 3rem;
  height: 3rem;
}

.header>.new-book {
  background: var(--clr-accent);
  color: var(--clr-neutral-lt);
  border: 2px solid transparent;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
}

.header>.new-book:hover {
  background: var(--clr-primary);
  color: var(--clr-neutral-lt);
  border: 2px solid var(--clr-accent);
}

table {
  border-collapse: collapse;
  margin: 2rem auto;
  width: 95%;
}

thead th {
  background: var(--clr-secondary);
  color: var(--clr-neutral-lt);
  font-weight: 600;
  font-size: 1.2rem;
  border: 1px solid var(--clr-secondary);
  position: sticky;
  top: 0;
}

tbody tr {
  background: #f9fafb;
}

tbody tr:nth-child(odd) {
  background: #eeeeee;
}

tbody tr:hover {
  background: #727171;
  color: var(--clr-neutral-lt);
}

tbody td {
  border-bottom: 1px solid #dddfe1;
  font-size: 1.1rem;
}

th,
td {
  padding: 0.25rem;
  text-align: left;
}

tr button {
  background: var(--clr-accent);
  color: var(--clr-neutral-lt);
  border: none;
  border-radius: 8px;
  padding: 12px 14px;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 8px;
}